    @{
        ViewData["Title"] = "Home Page";
    }

    <div class="text-center">
        <h1 class="display-4">Welcome😁</h1>
    <p>Welcome to our online shopping paradise for gadgets! At your fingertips, explore the most cutting-edge gadgets and technology available today. Every area of your modern living is catered to by the assortment of devices in our carefully picked inventory. We have something for everyone, from smart home solutions that simplify daily tasks to high-performance devices that push the limits of what is practical.</a>.</p>
    </div>
